modify:
{
	match:
	{
		"vscripts" "tsumugi/arcana.nut"
	}
	replace:
	{
		"vscripts" "tsumugi_cn/arcana_cn.nut"
	}

}
;Stripper#2 增加stp版本显示
modify:
{
match:
          {
           "classname" "logic_auto"
          }
insert:
          {
           "OnMapSpawn" "Map_Timer_TextCommandsay Stp版本23080101"
           "OnMapSpawn" "Map_Timer_TextCommandsay 英文歌词已加载01"
           "OnMapSpawn" "Map_Timer_TextCommandsay 日语歌词已加载01"
           "OnMapSpawn" "Map_Timer_TextCommandsay 感谢 佑木和泉@music163 贡献的日语歌词01"
           "OnMapSpawn" "Map_Timer_TextCommandsay 其他需求请联系管理员01"
           }
}