// 给与黑洞定身，临时处理push问题，三级不修黑洞会动
add:
{
	"wait" "1"
	"targetname" "plasmid_trigger_stop1"
	"StartDisabled" "0"
	"spawnflags" "1"
	"parentname" "plasmid_gravity_physbox_1"
	"origin" "-11008 -1920 9136"
	"filtername" "filter_only_t"
	"classname" "trigger_multiple"
	connections
	{
		"OnStartTouch" "!activatoraddoutputmovetype 00-1"
		"OnStartTouch" "!activatoraddoutputmovetype 24-1"
	}
}
modify:
{
	match:
	{
		"targetname" "plasmid_gravity_template_1"
		"classname" "point_template"
	}
	insert:
	{
		"Template05" "plasmid_trigger_stop1"
		"OnEntitySpawned" "plasmid_trigger_stop1AddOutputsolid 20-1"
		"OnEntitySpawned" "plasmid_trigger_stop1AddOutputmins -20 -20 -800.2-1"
		"OnEntitySpawned" "plasmid_trigger_stop1AddOutputmaxs 20 20 800.2-1"
	}
}
add:
{
	"wait" "1"
	"targetname" "plasmid_trigger_stop2"
	"StartDisabled" "0"
	"spawnflags" "1"
	"parentname" "plasmid_gravity_physbox_2"
	"origin" "-10624 -1920 9136"
	"filtername" "filter_only_t"
	"classname" "trigger_multiple"
	connections
	{
		"OnStartTouch" "!activatoraddoutputmovetype 00-1"
		"OnStartTouch" "!activatoraddoutputmovetype 24-1"
	}
}
modify:
{
	match:
	{
		"targetname" "plasmid_gravity_template_2"
		"classname" "point_template"
	}
	insert:
	{
		"Template05" "plasmid_trigger_stop2"
		"OnEntitySpawned" "plasmid_trigger_stop2AddOutputsolid 20-1"
		"OnEntitySpawned" "plasmid_trigger_stop2AddOutputmins -20 -20 -800.2-1"
		"OnEntitySpawned" "plasmid_trigger_stop2AddOutputmaxs 20 20 800.2-1"
	}
}

;Stripper#2 整合现有stp
add:
          {
           "classname" "game_text"
           "targetname" "Stripper_text"
           "x" "-1"
           "y" "0.8"
           "color" "114 210 6"
           "color2" "44 131 18"
           "fadein" "1.5"
           "fadeout" "1.5"
           "holdtime" "4"
           "spawnflags" "1"
           "channel" "1"
           }
modify:
{
match:
           {
            "logic_auto"
           }
insert:
           {
            "OnMapSpawn" "Stripper_textAddOutputmessage Stripper#2 By Tastysaw & 黑岩 2022-4-288.5-1"
            "OnMapSpawn" "Stripper_textDisplay9-1" 
            "OnMapSpawn" "Stripper_textAddOutputmessage 整合现有Stripper修复若干Bugs14.5-1"
            "OnMapSpawn" "Stripper_textDisplay15-1"
            "OnMapSpawn" "Stripper_textAddOutputmessage 有问题请联系TOP游廊社区僵尸逃跑管理团队 祝你玩得愉快 20.5-1"
            "OnMapSpawn" "Stripper_textDisplay21-1"
           }
}
;增加对BOSS伤害
modify:
{
match:
           {
            "classname" "func_movelinear"
            "targetname" "songbird_addhealth_movelinear"
           }
delete:
           {
            "OnFullyOpen" "songbird_hitbox_headAddOutputOnHealthChanged songbird_Health_BarHP:Subtract:1:0:-101"
           }
insert:
           {
            "OnFullyOpen" "songbird_hitbox_headAddOutputOnHealthChanged songbird_Health_BarHP:Subtract:4:0:-101"
           }
}
//try to fix item upgrade issue
modify:
{
	match:
	{
		"targetname" "plasmid_upgrader_electro"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"spawnflags" "541697"
	}
}
modify:
{
	match:
	{
		"targetname" "plasmid_upgrader_incinerate"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"spawnflags" "541697"
	}
}
modify:
{
	match:
	{
		"targetname" "plasmid_upgrader_cyclone"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"spawnflags" "541697"
	}
}
modify:
{
	match:
	{
		"targetname" "plasmid_upgrader_gravity"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"spawnflags" "541697"
	}
}
modify:
{
	match:
	{
		"targetname" "plasmid_upgrader_frost"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"spawnflags" "541697"
	}
}
modify:
{
	match:
	{
		"targetname" "plasmid_upgrader_insect"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"spawnflags" "541697"
	}
}
