;汉化配置
modify:
{
	match:
	{
		"vscripts" "mdxzl/elves/elves.nut"
	}
	replace:
	{
		"vscripts" "mdxzl/elves/_elves.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "mdxzl/map_text.nut"
	}
	replace:
	{
		"vscripts" "mdxzl/_map_text.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "mdxzl/grzzly/grzzly.nut"
	}
	replace:
	{
		"vscripts" "mdxzl/grzzly/_grzzly.nut"
	}
}
;修改文本显示
modify:
{
	match:
	{
		"targetname" "elves_text"
	}
	replace:
	{
		"channel" "5"
	}
}
modify:
{
	match:
	{
		"targetname" "grzzly_text"
	}
	replace:
	{
		"channel" "5"
	}
}
//修复雷电右键异常伤害
modify:
{
	match:
	{
		"targetname" "leidian_atk2_relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "leidian_hurtAddOutputdamage 600001.75-1"
	}
	insert:
	{
		"OnTrigger" "leidian_hurtAddOutputdamage 60001.75-1"
	}
}

//修复仲裁免抓
modify:
{
	match:
	{
		"targetname" "Seth_skin_soul_k"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "!activatorSetDamageFilterno_zombie01"
	}
	insert:
	{
		"OnPlayerPickup" "!activatorSetDamageFilterleidian_god01"
	}
}