; - 回合时间
modify:
{
    match:
    {
        "targetname" "b_bgm"
        "classname" "ambient_generic"
    }
    delete:
    {
        "OnMapSpawn" "cmdCommandmp_roundtime 300-1"
    }
}
modify:
{
    match:
    {
        "targetname" "g_bgm"
        "classname" "ambient_generic"
    }
    delete:
    {
        "OnMapSpawn" "cmdCommandmp_roundtime 300-1"
    }
}
modify:
{
    match:
    {
        "hammerid" "128072"
        "origin" "-8970 12164 6239"
        "classname" "logic_auto"
    }
    delete:
    {
        "OnMapSpawn" "cmdCommandmp_roundtime 300-1"
    }
}
