;----------------------------------------------------------------------------------------------------
; - 以下部分Stripper Fix By Tastysaw(CN) (STEAM_0:0:575299499) 
;----------------------------------------------------------------------------------------------------
; - CNMDM你们这些闸总能不能别天天找我修地图    
;          ┌─┐       ┌─┐
;       ┌──┘ ┴───────┘ ┴──┐
;       │                 │
;       │       ───       │
;       │  ─┬┘       └┬─  │
;       │                 │
;       │       ─┴─       │
;       │                 │
;       └───┐         ┌───┘
;           │         │
;           │         │
;           │         │
;           │         └──────────────┐
;           │                        │
;           │                        ├─┐
;           │                        ┌─┘    
;           │                        │
;           └─┐  ┐  ┌───────┬──┐  ┌──┘         
;             │ ─┤ ─┤       │ ─┤ ─┤         
;             └──┴──┘       └──┴──┘ 
;              这只是一只草泥马而已 
;----------------------------------------------------------------------------------------------------
; - 迈不过去的都会过去 时间会带走一切 It Is A Perfect Ending For Me
;----------------------------------------------------------------------------------------------------
; - 这里是太长不看版
; - 开局发放护甲
; - 圣经限制使用两次
; - game_text汉化
; - 跳刀大赛(solo检测未实装以后再说)
; - soon......
;----------------------------------------------------------------------------------------------------
; - 修复开局没有护甲
modify:
{
	match:
	{
		"classname" "game_player_equip"
		"spawnflags" "0"
	}
	insert:
	{
		"item_assaultsuit" "1"
	}
}
;----------------------------------------------------------------------------------------------------
; - 圣经使用次数限制
add:
{
       "classname" "math_counter"
       "targetname" "bibble_counter"
       "max" "2"
       "min" "0"
       "StartDisabled" "0"
       "startvalue" "0"
       "OnHitMax" "bible_buttonKill0-1"
}
modify:
{
       match:
       {
              "classname" "filter_activator_name"
              "targetname" "bible_filter"
       }
       insert:
       {
              "OnPass" "bibble_counterAdd10-1"
       }
}
;----------------------------------------------------------------------------------------------------
; - game_text汉化
modify:
{
       match:
       {
              "classname" "logic_case"
              "targetname" "s4case1"
       }
       replace:
       {
              "vscripts" "tyranny2/item_textchi.nut"
       }
}
modify:
{
       match:
       {
              "classname" "game_text"
              "targetname" "Stages_Text"
       }
       insert:
       {
              "vscripts" "tyranny2/item_textchi.nut"
       }
}
modify:
{
       match:
       {
              "classname" "logic_case"
              "targetname" "leveltrigger_case"
       }
       insert:
       {
              "OnCase01" "Stages_TextRunScriptCodetext(0);2.01-1"
              "OnCase02" "Stages_TextRunScriptCodetext(1);2.01-1"
              "OnCase03" "Stages_TextRunScriptCodetext(2);2.01-1"
              "OnCase04" "Stages_TextRunScriptCodetext(3);2.01-1"
              "OnCase05" "Stages_TextRunScriptCodetext(4);2.01-1"
       }
}
;----------------------------------------------------------------------------------------------------
; - 跳刀大赛
add:
{
       "classname" "point_worldtext"
       "angles" "-0 0 0"
       "targetname" "uuzlaser"
       "color" "0 255 255"
       "message" "targetname shitlaserbeiyong Unlock it and press"
       "spawnflags" "0"
       "textsize" "10"
       "origin" "1292 -13693 -1840"
}
add:
{
       "classname" "game_text"
       "targetname" "Stages_Text_C"
       "x" "-1"
       "y" "0.2"
       "color" "236 255 0"
       "color2" "50 231 24"
       "fadein" "0.8"
       "fadeout" "0.8"
       "holdtime" "10"
       "spawnflags" "1"
       "channel" "5"
       "vscripts" "tyranny2/item_textchi.nut"
}
add:
{
       "wait" "-1"
	"unlocked_sound" "0"
	"unlocked_sentence" "0"
	"targetname" "shitlaser"
	"speed" "5"
	"spawnflags" "1025"
	"sounds" "0"
	"rendermode" "0"
	"renderfx" "0"
	"rendercolor" "255 255 255"
	"renderamt" "255"
	"origin" "1288 -13808 -1905"
	"movedir" "0 0 0"
	"min_use_angle" "0.8"
	"locked_sound" "0"
	"locked_sentence" "0"
	"lip" "0"
	"health" "0"
	"fadescale" "1"
	"fademindist" "-1"
	"disablereceiveshadows" "1"
	"classname" "func_button"
       "OnPressed" "uuzscriptRunScriptCodetest_id();0-1"

}
add:
{
       "wait" "-1"
	"unlocked_sound" "0"
	"unlocked_sentence" "0"
	"targetname" "shitlaser"
	"speed" "5"
	"spawnflags" "1025"
	"sounds" "0"
	"rendermode" "0"
	"renderfx" "0"
	"rendercolor" "255 255 255"
	"renderamt" "255"
	"origin" "1661.5 12864 8274.64"
	"movedir" "0 0 0"
	"min_use_angle" "0.8"
	"locked_sound" "0"
	"locked_sentence" "0"
	"lip" "0"
	"health" "0"
	"fadescale" "1"
	"fademindist" "-1"
	"disablereceiveshadows" "1"
	"classname" "func_button"
       "OnPressed" "uuzscriptRunScriptCodetest_id();0-1"
}
add:
{
       "wait" "-1"
	"unlocked_sound" "0"
	"unlocked_sentence" "0"
	"targetname" "shitlaser"
	"speed" "5"
	"spawnflags" "1025"
	"sounds" "0"
	"rendermode" "0"
	"renderfx" "0"
	"rendercolor" "255 255 255"
	"renderamt" "255"
	"origin" "-288 -13472 -1946"
	"movedir" "0 0 0"
	"min_use_angle" "0.8"
	"locked_sound" "0"
	"locked_sentence" "0"
	"lip" "0"
	"health" "0"
	"fadescale" "1"
	"fademindist" "-1"
	"disablereceiveshadows" "1"
	"classname" "func_button"
       "OnPressed" "uuzscriptRunScriptCodetest_id();0-1"
}
add:
{
       "wait" "-1"
	"unlocked_sound" "0"
	"unlocked_sentence" "0"
	"targetname" "shitlaserbeiyong"
	"speed" "5"
	"spawnflags" "3073"
	"sounds" "0"
	"rendermode" "0"
	"renderfx" "0"
	"rendercolor" "255 255 255"
	"renderamt" "255"
	"origin" "-512 -15904 -2234"
	"movedir" "0 0 0"
	"min_use_angle" "0.8"
	"locked_sound" "0"
	"locked_sentence" "0"
	"lip" "0"
	"health" "0"
	"fadescale" "1"
	"fademindist" "-1"
	"disablereceiveshadows" "1"
	"classname" "func_button"
       "OnPressed" "uuzrelayTrigger0-1"
}
add:
{
       "classname" "logic_script"
       "targetname" "uuzscript"
       "vscripts" "uuzts2.nut"
}
add:
{
       "classname" "logic_relay"
       "targetname" "uuzrelay"
       "OnTrigger" "leveltrigger_relayAddOutputOnUser1 leveltrigger_counter:SetValue:6:0:10.051"
       "OnTrigger" "leveltrigger_relayFireUser101"
}
add:
{
	"classname" "logic_eventlistener"
	"targetname" "vs.eventlistener"
	"FetchEventData" "0"
	"IsEnabled" "1"
	"TeamNum" "-1"
}
add:
{
	"classname" "point_template"
	"spawnflags" "2"
	"Template01" "vs.eventlistener"
	"vscripts" "vs_eventlistener.nut"
	"OnEventFired" "Map_EventRunScriptCodePPP(event_data)0-1"
}
add:
{
       "classname" "prop_dynamic"
       "origin" "1661.5 12864 8274.64"
       "angles" "0 0 0"
       "model" "models/props/cs_militia/toilet.mdl"
}
add:
{
       "classname" "trigger_teleport"
       "targetname" "sblaser"
       "target" "caonimabi"
       "StartDisabled" "1"
       "UseLandmarkAngles" "1"
       "spawnflags" "1"
       "origin" "2964 -15466 -2292"
       "StartDisabled" "1"
}
add:
{
       "classname" "info_teleport_destination"
       "targetname" "caonimabi"
       "origin" "3774 9111.82 8400"
       "angles" "0 90 0"
}
modify:
{
       match:
       {
              "classname" "logic_auto"
       }
       insert:
       {
              "OnMapSpawn" "shitlaserAddOutputsolid 20.5-1"
              "OnMapSpawn" "shitlaserAddOutputmins -16 -24 -240.5-1"
              "OnMapSpawn" "shitlaserAddOutputmaxs 16 24 240.5-1"
              "OnMapSpawn" "shitlaserbeiyongAddOutputsolid 20.5-1"
              "OnMapSpawn" "shitlaserbeiyongAddOutputmins -16 -24 -240.5-1"
              "OnMapSpawn" "shitlaserbeiyongAddOutputmaxs 16 24 240.5-1"
              "OnMapSpawn" "sblaserAddOutputsolid 20-1"
              "OnMapSpawn" "sblaserAddOutputmins -3620 -768 -4440.5-1"
              "OnMapSpawn" "sblaserAddOutputmaxs 3620 768 4440.5-1"
              "OnMapSpawn" "soloAddOutputsolid 20.5-1"
              "OnMapSpawn" "soloAddOutputmins -398 -398 -3110.5-1"
              "OnMapSpawn" "soloAddOutputmaxs 398 398 3110.5-1"
       }
}
modify:
{
       match:
       {
              "classname" "trigger_multiple"
              "origin" "-112.8 -12535.1 -1801"
       }
       insert:
       {
              "targetname" "caonima"
       }
}
modify:
{
       match:
       {
              "classname" "math_counter"
              "targetname" "leveltrigger_counter"
       }
       replace:
       {
              "max" "6"
       }
}
modify:
{
       match:
       {
              "classname" "logic_case"
              "targetname" "leveltrigger_case"
       }
       insert:
       {
              "Case06" "6"
              "OnCase06" "sblaserEnable1-1"
              "OnCase06" "s5_tempForceSpawn01"
              "OnCase06" "s5door_14_3Enable16-1"
              "OnCase06" "s5boss_angra_triggerKill5-1"
              "OnCase06" "s5boss_angra_wall1Kill30-1"
              "OnCase06" "s5music_endPlaySound21"
              "OnCase06" "lvl2_skyboxKill01"
              "OnCase06" "waterfalls_stage4Kill01"
              "OnCase06" "waterfalls_stage3Kill01"
              "OnCase06" "waterfalls_skyboxKill01"
              "OnCase06" "s5boss_angra_hitKill51"
              "OnCase06" "spawndoor_3Break01"
              "OnCase06" "lvl5_skyboxDisable01"
	       "OnCase06" "soloEnable601"
              "OnCase06" "commandCommandzr_infect_mzombie_ratio "64"51"
	       "OnCase06" "commandCommandzr_infect_mzombie_ratio "7"601"
              "OnCase06" "solo_temForceSpawn11"
              "OnCase06" "Stages_Text_CRunScriptCodetext(6);121"
              "OnCase06" "Stages_TextRunScriptCodetext(5);2.011"
              "OnCase06" "uzbruRunScriptCodeuuz();8-1"
       }
}
add:
{
	"classname" "func_brush"
	"spawnflags" "2"
	"targetname" "uzbru"
       "vscripts" "uuzts2.nut"
}
;yek
add:
{
       "classname" "prop_dynamic"
       "targetname" "solo_yek1"
       "origin" "4608 9600 7800"
       "angles" "0 0 0"
       "model" "models/angra/zbs_bossl_big06.mdl"
}
add:
{
       "classname" "prop_dynamic"
       "targetname" "solo_yek2"
       "origin" "3008 9600 7800"
       "angles" "0 0 0"
       "model" "models/angra/zbs_bossl_big06.mdl"
}
add:
{
       "classname" "point_template"
       "targetname" "solo_tem"
       "spawnflags" "2"
       "Template01" "solo_yek1"
       "Template02" "solo_yek2"
}
;----------------------------------------------------------------------------------------------------