; 修正手雷购买问题
filter:
{
	"hammerid" "80239"
}
; #1 输出版本号
modify:
{
    match:
    {
        "classname" "logic_auto"
        "hammerid" "4585392"
    }
    delete:
    {
        "OnMapSpawn" "commandCommandzr_infect_mzombie_ratio 60-1"
		"OnMapSpawn" "commandCommandzr_respawn 10-1"
		"OnMapSpawn" "commandCommandzr_zspawn 10-1"
		"OnMapSpawn" "commandCommandzr_infect_spawntime_max 150-1"
		"OnMapSpawn" "commandCommandzr_infect_spawntime_min 150-1"
		"OnMapSpawn" "commandCommandmp_roundtime 200-1"
    }
    insert:
    {
         "OnMapSpawn" "commandCommandsm_say Stripper_by_suda#20230828#20-1"
         "OnMapSpawn" "commandCommandsm_say 删除某位高手头像，删除某个东西，删除开局相关zr指令0-1"
         "OnMapSpawn" "commandCommandsm_say 修正概率无法购买手雷的问题0-1"
    }
}
; #2 删除某位大哥
filter:
{
    "targetname" "s36endboss_model"
    "classname" "func_wall_toggle"
}
; #2 删除某个旗帜
filter:
{
    "hammerid" "29537"
	"classname" "func_detail"
}
filter:
{
    "hammerid" "29944"
	"classname" "func_detail"
}
filter:
{
    "hammerid" "30845"
	"classname" "func_detail"
}
filter:
{
    "hammerid" "35627"
	"classname" "func_detail"
}
filter:
{
    "hammerid" "39249"
	"classname" "func_detail"
}
