;Stripper#1  修复跳水池
add:
{
    "classname" "info_teleport_destination"
	"targetname" "qnmdshuichi2"
    "origin" "-6992 -10009 -13622"
    "angles" "0 173 0"
}
add:
{
	"classname" "trigger_teleport"
	"origin" "-6688 -10566 -8498"
	"filtername" "team_filter_humans"
	"spawnflags" "1"
	"StartDisabled" "0"
	"wait" "1"
	"targetname" "qnmdshuichi"
    "target" "qnmdshuichi2"
    "UseLandmarkAngles" "1"
}
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnNewGame" "qnmdshuichiaddoutputmins -150 -150 -15001"
		"OnNewGame" "qnmdshuichiaddoutputmaxs 150 150 15001"
		"OnNewGame" "qnmdshuichiaddoutputsolid 20.21"
	}
}
;Stripper#2 增加stp版本显示
modify:
{
match:
          {
           "classname" "logic_auto"
          }
insert:
          {
           "OnMapSpawn" "mingling5Commandsay Stp版本23081401"
           "OnMapSpawn" "mingling5Commandsay 跳水池传送已生效01"
           "OnMapSpawn" "mingling5Commandsay 感谢健忘哥哥的指导qwq01"
           }
}
;Stripper#3孤儿位给爷死！
modify:
{
	match:
			{
			"classname" "trigger_once"
			"hammerid" "149634"
			}
	insert:
			{
			"OnStartTouch" "mingling5Commandsm_csay 请不要在本关尝试卡孤儿位101"
			}
}
add:
{
	"classname" "trigger_teleport"
	"origin" "5889 -5258 -8200"
	"filtername" "team_filter_humans"
	"spawnflags" "1"
	"StartDisabled" "0"
	"wait" "1"
	"targetname" "greywaygayyes"
    "target" "dest8848"
    "UseLandmarkAngles" "1"
	connections
	{
		"OnStartTouch" "mingling5Commandsm_csay 总有人想尝试一些稀奇活01"
	}
}
add:
{
    "classname" "info_teleport_destination"
	"targetname" "dest8848"
    "origin" "-244 -2247 -6721"
    "angles" "0 173 0"
}
modify:
{
	match:
		{
			"classname" "logic_auto"
		}
	insert:
		{
		"OnNewGame" "greywaygayyesaddoutputmins -1500 -150 -120001"
		"OnNewGame" "greywaygayyesaddoutputmaxs 1500 150 120001"
		"OnNewGame" "greywaygayyesaddoutputsolid 20.21"
		}
}
